 
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
  }
  
  .products {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
  }
  .products__title {
    text-align: center;
    color: white;
  }
  
  .products__inner {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .products__item {
    background-color: #f7f7f7;
    width: 300px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
  }

 img {
    width: 100%;
    height: 180px;
    margin-bottom: 25px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 5px;
  }

  .products__item-text {
    font-size: 15px;
    line-height: 1.4;
  }

  .name {
      color: white;
      font-size: 300%;
      text-align: center;
  }

  hr {
      color: rgb(117, 86, 86);
      border: 0.25px solid rgb(115, 108, 108);
      margin-bottom: 35px;
  }

  .container {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 5px solid #dce0e1;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    padding: 1em;
  }

  .div-1 {
    height: 60px;
    display: flex;
    border-bottom: 3px solid rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
  }

  button {
    color: #ffffff;
    background: #212176;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease-out; 
    transform-style: preserve-3d;
    margin-left: 45px;
  }

  button::after {
    content: 'Жми';
    position: absolute;
    top: -50%;
    left: 0px;
    width: 100%;
    background: #ff4242;
    border-radius: 5px;
    box-shadow: 0px 1px 3px;
    transform-origin: bottom;
    transform: rotateX(90deg);
  }

  button:hover {
    transform-origin: bottom;
    transform: rotateX(-90deg);
  }